.userProfile-container {
  display: flex;
  flex-direction: column;
}
.user-profile-top-section-container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  border-bottom: 1px solid var(--border-light-color);
  padding-bottom: 40px;
}

.userInfo-container {
  width: 60%;
  margin-left: 40px;
}
.userInfo-summary-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.user-profile-tabs-container {
  display: flex;
  flex-direction: column;
  width: 165px;
}
.user-profile-tabs-container .tab-link {
  background-color: var(--theme-color);
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.user-profile-tabs-container .tab-link i,
.user-profile-tabs-container .tab-link svg {
  margin-right: 5px;
}

.user-profile-tabs-container .tab-link:hover {
  background-color: var(--button-background-hover-color);
}
.overview-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.user-favs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.user-favs-container h3 {
  margin-top: 0;
}
.fav-card-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fav-title-row {
  font-size: 19px;
  font-weight: bold;
}
.modify-fav-btns-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  gap: 20px;
}
.modify-fav-btns-container .general-button {
  width: 150px;
}
.fav-card-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-light-color);
  margin-bottom: 20px;
}
.userprofile-fav-cards-container .fav-card-container:nth-last-child(1) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-light-color);
}
.fav-collection-info {
  display: flex;
  gap: 20px;
}
.modify-fav-btns-container .open-modal-btn .fa-bone {
  display: none;
}
.modify-fav-btns-container .open-modal-btn {
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--button-background-color);
  background-color: var(--button-background-color);
  color: white;
  font-size: 15px;
  padding: 5px;
  transition: background-color 0.8s ease;
}
.modify-fav-btns-container .open-modal-btn:hover {
  background-color: var(--button-background-hover-color);
}
.restaurant-review-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
.restaurant-name-link:hover {
  text-decoration: underline;
}
