.rating-icon-img {
  width: 100px;
  object-position: top;
  object-fit: cover;
  height: 22px;
  padding: 3px 3px 3px 10px;
}
.rating-icon-img-container {
  /* width: 100px; */
  height: 25px;
  overflow: hidden;
  box-sizing: border-box;
}
