/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --theme-color: #0db9f5;
  --container-background-color: #eeeeee;
  --main-background-color: #ffffff;
  --error-background-color: #ff9b9b;
  --error-text-color: #dd0a35;
  --button-text-color: #ffffff;
  --button-background-color: #0db9f5;
  --button-background-hover-color: #1281ac;
  --rating-icon-color: #ffc107;
  --title-text-color: #1c1c1c;
  --title-text-hover-color: #0db9f5;
  --subtitle-text-color: #757575;
  --content-text-color: #616161;
}
body {
  font-family: "Nunito", sans-serif;
  color: var(--content-text-color);
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
a {
  text-decoration: none;
  color: var(--content-text-color);
}
a:visited {
  color: var(--content-text-color);
}
ul {
  list-style-type: none;
  padding: 5px;
}
.general-button {
  border-radius: 5px;
  border: 1px solid var(--button-background-color);
  background-color: var(--button-background-color);
  color: white;
  font-size: 15px;
  padding: 5px;
  transition: background-color 0.8s ease;
}
.general-button:hover {
  background-color: var(--button-background-hover-color);
}
