.profile-dropdown {
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}
.main-logo {
  width: 250px;
}

.nav-container {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: white;
  left: 10%;
  right: 10%;
}
.nav-left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-middle-section {
  flex-grow: 1;
  margin: 10px 5%;
  position: relative;
}
.login-signup-demo-btn-container {
  display: flex;
  gap: 10px;
}
.button-container.signup > .open-modal-btn,
.modalButton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px 5px;
  font-size: 15px;

  background-color: var(--button-background-color);
  color: white;
  border-radius: 5px;
  border: 1px solid var(--button-background-color);
  transition: background-color 0.8s ease;
}
.button-container.signup > .open-modal-btn:hover,
.modalButton:hover {
  background-color: var(--button-background-hover-color);
}
.button-container.login > .open-modal-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px 5px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f7f5f5;
  border: 1px solid #dbd7d7;
  transition: background-color 0.8s ease;
  color: var(--content-text-color);
}
.button-container.login > .open-modal-btn:hover {
  background-color: rgba(213, 212, 212, 0.6);
}
.default-user-icon {
  font-size: 25px;
  color: var(--theme-color);
}
.default-user-icon:hover {
  color: var(--button-background-hover-color);
}
#user-profile-btn {
  background-color: transparent;
  border: none;
}
#logout-btn {
  width: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 15px;
  color: var(--content-text-color);
}
#logout-btn:hover {
  color: white;
}
#logout-btn i {
  font-size: 15px;
}
#logout-btn-container {
  border-top: 1px solid rgba(97, 97, 97, 0.4);
}

#dropdown-menu {
  background-color: var(--main-background-color);
  width: 120px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(97, 97, 97, 0.5);
}
#dropdown-menu li {
  padding: 5px 10px;
  font-size: 15px;
}
#dropdown-menu li:hover {
  background-color: var(--theme-color);
  color: white;
}
#searchbar-btn {
  padding: 5px 10px;
  font-size: 20px;
}
#search-bar input {
  border: none;
  flex-grow: 1;
  font-size: 20px;

  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  color: #616161;
}

#search-bar input:focus {
  border: none;
  outline: none;
}
/* divider bar */
/* #search-bar #search-bar-left {
  border-right: 1px solid rgba(97, 97, 97, 0.4);
} */
#search-bar {
  background-color: var(--main-background-color);
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(97, 97, 97, 0.5);
  padding-left: 10px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.search-bar-input-container {
  position: relative;
  /* with 2 search input */
  /* width: 50%; */
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  padding-left: 5px;
  margin: 8px;
}
.autocomplete-dropdown {
  position: absolute;
  z-index: 100;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
  box-sizing: border-box;
}
.search-dropdown {
  /* width: 50%; */
  width: 100%;
  box-sizing: border-box;
}
.search-by-keyword,
.search-by-location {
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;

  background-color: var(--main-background-color);
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(97, 97, 97, 0.5);
  font-size: 14px;
  height: fit-content;
}
.search-by-keyword p,
.search-by-location p {
  margin: 0;
  padding-left: 23px;
}
.search-by-keyword ul,
.search-by-location ul {
  margin: 0;
  padding: 0;
}
.search-by-keyword ul li,
.search-by-location ul li {
  padding: 0 23px;
}
.search-by-keyword ul li:hover,
.search-by-location ul li:hover {
  background-color: rgba(213, 212, 212, 0.6);
}
.recommend-dropdown-keyword.hidden,
.recommend-dropdown-location.hidden {
  visibility: hidden;
}
